#nav .menu>li{
display: inline-block;

}
#nav .menu li a{
    color: #000000;
    text-transform: uppercase;
    padding: 15px;
    padding-bottom: 10px;
    text-decoration: none
}

#nav .menu li a:hover{
    color: #003200;
    border-bottom: 1px solid #003200;
}
#nav .main-menu div{
    display: inline-block;
}
.main-menu{
    width: 50%;
    margin: 0 auto;
}
#logo{
    width: 200px;
}